<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="helloWorld" class="spring.inversionOfControl.HelloWorld">
    <property name="message" value="Hello World the initial greeting"/>
</bean>
<bean id="greetings" class="spring.inversionOfControl.HelloWorld">
<property name="message" value="Greeting is a principal thing"/>
</bean>
    <import resource="cofigurations-class.xml"/>
    <import resource="lazyXml.xml"/>
    <import resource="constructorXmlDependencyInjection.xml"/>
    <import resource="communicationXml.xml"/>
    <!--<import resource="dependsOnXml.xml"/>-->
    <import resource="dependencyObject.xml"/>
    <import resource="collection1.xml"/>
    <import resource="collection2.xml"/>
    <import resource="map.xml"/>
    <import resource="beanInheritance.xml"/>
    <import resource="setterString.xml"/>
    <import resource="setterDependentObject.xml"/>
    <import resource="setterList.xml"/>
    <import resource="nonStringCollection.xml"/>
    <import resource="setterInjectionMap.xml"/>
    <import resource="setterInjectionNonString.xml"/>
    <import resource="staticFactoryMethod1.xml"/>
    <import resource="factoryBeanDemo.xml"/>
    <import resource="staticFactoryMethod.xml"/>
    <!--<import resource="singleton.xml"/>-->
    <!--<import resource="prototype.xml"/>-->
    <import resource="init-dispose.xml"/>
    <import resource="initDestroyMethod.xml"/>
    <import resource="spring-config-dev.xml"/>
    <import resource="spring-config-prod.xml"/>
    <import resource="spring-config-test.xml"/>
    <import resource="spring-demo.xml"/>

</beans>

