<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="helloWorld" class="spring.inversionOfControl.HelloWorld">
    <property name="message" value="Hello World the initial greeting"/>
</bean>
<bean id="greetings" class="spring.inversionOfControl.HelloWorld">
<property name="message" value="Greeting is a principal thing"/>
</bean>

    <import resource="lazyXml.xml"/>
    <import resource="constructorXmlDependencyInjection.xml"/>
    <import resource="communicationXml.xml"/>
    <!--<import resource="dependsOnXml.xml"/>-->
    <import resource="dependencyObject.xml"/>
    <import resource="collection1.xml"/>
    <import resource="collection2.xml"/>
    <import resource="map.xml"/>
    <import resource="beanInheritance.xml"/>
    <import resource="setterString.xml"/>
    <import resource="setterDependentObject"/>
    <import resource="setterList"/>
</beans>

