<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="myCoach" class="spring.inversionOfControl.springdemo.TrackCoach">
        <constructor-arg ref="myFortune"></constructor-arg>
    </bean>
    <bean id="myFortune" class="spring.inversionOfControl.springdemo.HappyFortuneService">

    </bean>

    <bean id="baseballCoach" class="spring.inversionOfControl.springdemo.BaseBallCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="cricketCoach" class="spring.inversionOfControl.springdemo.CricketCoach">
        <!--Set up our setter injection -->
        <property name="fortuneService" ref="myFortune"></property>
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>

    </bean>


</beans>